[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
flask = "*"
requests = "*"
flask-caching = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]
flake8 = "*"
flake8-html = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"

[requires]
python_version = "3.10"
